* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
}
#banner {
    background: linear-gradient(rgba(0,0,0,0.5),#669999), url(images/coding-1853305_1920.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.logo {
    border-radius: 50%;
    width: 90px;
    position: absolute;
    top: 4%;
    right: 10%;
}
.banner-text {
    text-align: center;
    color: #fff;
    padding-top: 300px;
}
.banner-text h1 {
    font-size: 70px;
}
.banner-text p {
    font-size: 20px;
    font-style: italic;
}
.banner-btn {
    margin: 70px auto 0;
}
.banner-btn a {
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: .5px solid #fff;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}
.banner-btn a span {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
}
.banner-btn a:hover span {
    width: 100%;
}
.banner-btn a:hover {
    color: #000;
}
.sidebar{
    background: #334d4d;
    width: 290px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    overflow-y: auto;
    transition: 0.3s ease;
    transition-property: left;
    z-index: 2;
}
.sidebar.active{
    left: 0;
}
.sidebar .menu{
    width: 100%;
    margin-top: 80px;
}
.sidebar .menu .item{
    position: relative;
    cursor: pointer;
}
.sidebar .menu .item a{
    color: #fff;    
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 5px 30px;
    line-height: 60px;
}
.sidebar .menu .item a:hover{
    color: #fff;
    background: #85adad;
    transition: 0.3s ease;
}
.sidebar .menu .item i{
    margin-right: 15px;
}
.closeBtn{
    position: absolute;
    color: #fff;
    font-size: 20px;
    right: 0;
    margin: 25px;
    cursor: pointer;
}
.menuBtn{
    position: absolute;
    color: #fff;
    font-size: 20px;
    margin: 25px;
    cursor: pointer;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #334d4d; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    transition: 0.2s;
  }
  
  #myBtn:hover {
    background-color: #85adad; /* Add a dark-grey background on hover */
  }

@media screen and (max-width: 770px) {
    .banner-text {
        padding-top: 230px;
    }
    .banner-text h1 {
        font-size: 38px;
    }
    .banner-btn a {
        display: block;
        margin: 20px auto;
    }
}

/*--ABOUT/SKILLS--*/
#about {
    width: 100%;
    padding: 70px 0;
}
.about-title {
    text-align: center;
    padding-bottom: 70px;
}
.about-title p {
    margin: auto;
    font-size: 20px;
    color: #334d4d;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.about-title p::after {
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#789491,#fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.about-title h1 {
    font-size: 50px;
}
.about-title h4 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
}
.about-box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.skills {
    flex-basis: 50%;
}
.skills-img {
    flex-basis: 50%;
    margin: auto;
}
.skills h1 {
    text-align: left;
    margin-bottom: 10px ;
}
.skills-desc {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.skills-icon .fa {
    width: 25px;
    height: 25px;
    font-size: 15px;
    line-height: 25px;
    border-radius: 8px;
    color: #334d4d;
    border: 1px solid #334d4d;
    margin: 5px;
}
@media screen and (max-width: 770px) {
    .about-title h1 {
        font-size: 30px;
    }
    .about-title h4 {
        font-size: 16px;
    }
    .skills {
        flex-basis: 100%;
    }
    .skills-img {
        flex-basis: 100%;
    }
}

/*---PROJECTS---*/
#projects {
    width: 100%;
    padding: 70px 0;
    background: #efefef;
}
.projects-box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;    
}
.single-project {
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
    box-shadow: 10px 10px 5px #ccc;
}
.single-project img {
    width: 100%;
    border-radius: 7px;
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5), #669999);
    opacity: 0;
    transition: 0.8s;
}
.single-project:hover .overlay {
    opacity: 1;
}
.project-desc {
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 0.8s;
    cursor: pointer;
}
.project-desc h3 a {
    text-decoration: none;
    color: #fff;
}
hr {
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}
.service-desc p {
    font-size: 14px;
}
.single-project:hover .project-desc {
    bottom: 40%;
    opacity: 1;
}
@media screen and (max-width: 770px) {
    .single-project {
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .service-desc p {
        font-size: 12px;
    }
    hr {
        margin: 5px auto;
    }
    .single-project:hover .project-desc {
        bottom: 25% !important;
    }
}

/*--FOOTER SECTION--*/
#footer {
    padding: 100px 0 20px;
    background: #efefef;
}
.footer-row {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left,.footer-right {
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}
.footer-right {
    text-align: right;
}
.footer-right a {
    text-decoration: none;
    color: #000;
}
.footer-right a:hover {
    text-decoration: none;
    color: rgb(16, 99, 88);
}
.footer-left a {
    text-decoration: none;
    color: #000;
}
.footer-left a:hover {
    text-decoration: none;
    color: rgb(16, 99, 88);
}
.footer-row h1 {
    margin: 10px 0;
}
.footer-row p {
    line-height: 25px;
}
.footer-left .fab,.footer-right .fab,.footer-right .fas,.footer-left .fas,.footer-right .fa {
    font-size: 15px;
    color: #334d4d;
    margin: 10px;
}
.social-links {
    text-align: center;
}
.social-links .fab {
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #334d4d;
    margin: 40px 5px 0;
    color: #334d4d;
    cursor: pointer;
    transition: 0.5s;
}
.social-links .fab:hover {
    background: #334d4d;
    color: #fff;
    transform: translateY(-7px);
}
@media screen and (max-width: 770px) {
    .footer-left,.footer-right {
        flex-basis: 100%;
        font-size: 14px;
    }
}

