* {
    margin: 0;
    padding: 0;
    font-family: 'Fredericka the Great', cursive;
}
#banner {
    background: linear-gradient(rgba(0,0,0,0.5),#669999), url(images/coding-1853305_1920.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.logo {
    border-radius: 50%;
    width: 90px;
    position: absolute;
    top: 4%;
    left: 10%;
}
.banner-text {
    text-align: center;
    color: #fff;
    padding-top: 180px;
}
.banner-text h1 {
    font-size: 90px;
}
.banner-text p {
    font-size: 20px;
    font-style: italic;
}
.banner-btn {
    margin: 70px auto 0;
}
.banner-btn a {
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: .5px solid #fff;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}
.banner-btn a span {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
}
.banner-btn a:hover span {
    width: 100%;
}
.banner-btn a:hover {
    color: #000;
}
#sideNav {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #334d4d;
    z-index: 2;
    transition: 0.5s;
}
nav ul li {
    list-style: none;
    margin: 50px 20px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
}
#menuBtn {
    width: 50px;
    height: 50px;
    background: #334d4d;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#menuBtn img {
    width: 20px;
    margin-top: 15px;
}
@media screen and (max-width: 770px) {
    .banner-text h1 {
        font-size: 44px;
    }
    .banner-btn a {
        display: block;
        margin: 20px auto;
    }
}

/*--About--*/
#about {
    width: 100%;
    padding: 70px 0;
}
.about-title {
    text-align: center;
    padding-bottom: 70px;
}
.about-title p {
    margin: auto;
    font-size: 20px;
    color: #334d4d;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.about-title p::after {
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#789491,#fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.about-title h1 {
    font-size: 50px;
}
.about-box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.skills {
    flex-basis: 50%;
}
.skills-img {
    flex-basis: 50%;
    margin: auto;
}
.skills h1 {
    text-align: left;
    margin-bottom: 10px ;
}
.skills-desc {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.feature-icon .fa {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    border: 1px solid #000;
}
@media screen and (max-width: 770px) {
    .about-title h1 {
        font-size: 35px;
    }
    .skills {
        flex-basis: 100%;
    }
    .skills-img {
        flex-basis: 100%;
    }
}
